@import url("https://fonts.googleapis.com/css?family=Roboto:500,900i&display=swap");
/*Variables */
* {
  /*Box Sizing*/
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  /*Fonts & Text */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*Lists*/
  list-style-type: none;
  list-style-position: outside;
  /*Other things*/
  transition: 0.2s;
  /*Adjust as neccessary - I find 0.2s is a good baseline for most transitions*/
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  * {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  /*Adjust this to change the rem size unit */
  font-family: "Roboto", monospace, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-text-size-adjust: 100%;
  line-height: 1.6;
  background-color: #333;
  width: 100vw;
  overflow-x: hidden;
}

/*Support Queries*/
@supports (display: flex) {
  /*Flexbox Starter */
  .flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
  }

  .flexItem {
    flex: 1;
  }
}
@supports (display: grid) {
  /*Grid Starter*/
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
    justify-items: center;
    /*horizontal alignment*/
    align-items: center;
    /*vertical alignment*/
  }
}

.titleFont {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.bodyFont {
  font-family: "Roboto", monospace;
  font-weight: 400;
}

.headerContainer {
  height: 6rem;
  padding: 1.5rem 2rem;
  background-color: #23a3e4;
  box-shadow: inset 0 -0.5rem 0 #f06363, inset 0 -1rem 0 #f6eb49;
}
.headerContainer #headerMenu {
  display: flex;
  width: 70%;
  max-width: 600px;
  align-items: center;
  justify-content: space-between;
  z-index: 200;
}
.headerContainer .headerItemContainer .headerItem {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 5px #0003;
}
.headerContainer .headerItemContainer .headerItem span {
  display: inline-block;
  border-bottom: 2px solid #fff0;
  font-family: "Roboto", monospace;
}
.headerContainer .headerItemContainer .headerItem span:hover {
  transform: translateY(-2px);
  border-bottom: 2px solid #fff;
}
.headerContainer .headerItemContainer .titleFont {
  font-size: 2rem;
}
.headerContainer #menuTrigger {
  display: none;
}

.mainBodyContainer {
  min-height: calc(155vh - 6rem);
  width: 100vw;
}
.mainBodyContainer div, .mainBodyContainer a {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: default;
  text-decoration: none;
}
.mainBodyContainer > a {
  z-index:0;
}
.mainBodyContainer > a:hover {
  transform: scale(1.05);
  z-index: 100 !important;
  cursor:pointer;
}

#homeBodyContainer {
  grid-template-areas: "hero hero hero hero hero hero heroText heroText" "hero hero hero hero hero hero heroText heroText" "story story story story story calendar calendar calendar" "guide guide guide services services services volunteer volunteer";
}
  #homeBodyContainer .grid-hero {
    grid-area: hero;
  }
  #homeBodyContainer .grid-heroText {
    grid-area: heroText;
  }
  #homeBodyContainer .grid-story {
    grid-area: story;
  }
  #homeBodyContainer .grid-guide {
    grid-area: guide;
  }
  #homeBodyContainer .grid-calendar {
    grid-area: calendar;
  }
  #homeBodyContainer .grid-volunteer {
    grid-area: volunteer;
  }
  #homeBodyContainer .grid-services {
    grid-area: services;
  }
  #homeBodyContainer #homeHero {
    background: #333;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/dc/Adelaide_Convention_Centre.jpg);
    background-position: bottom;
    background-size: cover;
    min-height: 250px;
    box-shadow: inset 0 0 5rem #111a;
  }
  #homeBodyContainer #homeHeroText {
    background: #f06363;
    color: #fff;
    text-shadow: 0 0 5px #0003;
  }
  #homeBodyContainer #homeHeroText h3 {
    font-size: 1.8rem;
    line-height: 1.9rem;
    padding-bottom: 1rem;
  }
  #homeBodyContainer #homeHeroText p {
    color: #fffc;
  }
  #homeBodyContainer #homeStory, #homeBodyContainer #homeVolunteer {
    background: #23a3e4;
    color: #fffe;
    text-shadow: 0 0 5px #0003;

  }
  #homeBodyContainer #homeStory h3, #homeBodyContainer #homeVolunteer h3 {
    font-size: 1.8rem;
  }
  #homeBodyContainer #homeCalendar {
    background: #333;
    color: #fffc;

  }
  #homeBodyContainer #homeCalendar h3 {
    font-size: 1.8rem;
  }
  #homeBodyContainer #homeGuide {
    background: #f06363;
    color: #fff;
    text-shadow: 0 0 5px #0003;

  }
  #homeBodyContainer #homeGuide h3 {
    font-size: 1.8rem;
  }
  #homeBodyContainer #homeServices {
    background: #f6eb49;
    color: #333;
  }
  #homeBodyContainer #homeServices h3 {
    font-size: 1.8rem;
  }

#guidesBodyContainer {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "hero hero hero heroText" "hero hero hero contribute";
}
  #guidesBodyContainer .grid-hero {
    grid-area: hero;
  }
  #guidesBodyContainer .grid-heroText {
    grid-area: heroText;
  }
  #guidesBodyContainer .grid-contribute {
    grid-area: contribute;
  }
  #guidesBodyContainer #guidesHero {
    background-color: #23a3e4;
    background-image: url("https://www.thoughtco.com/thmb/qicFsReCgYEan06SAmDFlljH1h4=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/directions-56a2af253df78cf77278c933.jpg");
    background-size: cover;
    background-position: top;
    min-height: 250px;
    box-shadow: inset 0 0 5rem #111a;
    filter: grayscale(1);
  }
  #guidesBodyContainer #guidesHeroText {
    background: #f06363;
    color: #fffe;
    text-shadow: 0 0 5px #0003;

  }
  #guidesBodyContainer #guidesHeroText h3 {
    font-size: 1.8rem;
  }
  #guidesBodyContainer #guideContribute, #guidesBodyContainer #guide3, #guidesBodyContainer #guide5, #guidesBodyContainer #guide11, #guidesBodyContainer #guide16 {
    background: #23a3e4;
    color: #fff;
    text-shadow: 0 0 5px #0003;

  }
  #guidesBodyContainer #guideContribute h3, #guidesBodyContainer #guide3 h3, #guidesBodyContainer #guide5 h3, #guidesBodyContainer #guide11 h3, #guidesBodyContainer #guide16 h3 {
    font-size: 1.8rem;
  }
  #guidesBodyContainer #guide2, #guidesBodyContainer #guide8, #guidesBodyContainer #guide10, #guidesBodyContainer #guide13 {
    background: #333;
    color: #fffc;

  }
  #guidesBodyContainer #guide2 h3, #guidesBodyContainer #guide8 h3, #guidesBodyContainer #guide10 h3, #guidesBodyContainer #guide13 h3 {
    font-size: 1.8rem;
  }
  #guidesBodyContainer #guide1, #guidesBodyContainer #guide7, #guidesBodyContainer #guide9, #guidesBodyContainer #guide12, #guidesBodyContainer #guide15 {
    background: #f6eb49;
    color: #333;
  }
  #guidesBodyContainer #guide1 h3, #guidesBodyContainer #guide7 h3, #guidesBodyContainer #guide9 h3, #guidesBodyContainer #guide12 h3, #guidesBodyContainer #guide15 h3 {
    font-size: 1.8rem;
  }
  #guidesBodyContainer #guide4, #guidesBodyContainer #guide6, #guidesBodyContainer #guide12, #guidesBodyContainer #guide14 {
    background: #f06363;
    color: #fffe;
    text-shadow: 0 0 5px #0003;

  }
  #guidesBodyContainer #guide4 h3, #guidesBodyContainer #guide6 h3, #guidesBodyContainer #guide12 h3, #guidesBodyContainer #guide14 h3 {
    font-size: 1.8rem;
  }

#storiesBodyContainer {
  grid-template-areas: "hero hero hero hero hero hero heroText heroText" "hero hero hero hero hero hero heroText heroText" "story1 story1 story2 story2 story2 story2 story3 story3" "story1 story1 contribute contribute contribute contribute story3 story3 ";
}
  #storiesBodyContainer .grid-hero {
    grid-area: hero;
  }
  #storiesBodyContainer .grid-heroText {
    grid-area: heroText;
  }
  #storiesBodyContainer .grid-story1 {
    grid-area: story1;
  }
  #storiesBodyContainer .grid-story2 {
    grid-area: story2;
  }
  #storiesBodyContainer .grid-story3 {
    grid-area: story3;
  }
  #storiesBodyContainer .grid-contribute {
    grid-area: contribute;
  }
  #storiesBodyContainer #storiesHero {
    background-image: url("https://images.unsplash.com/photo-1542761472-2655dbf072c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=847&q=80");
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    box-shadow: inset 0 0 5rem #111a;
    filter: grayscale(1);
  }
  #storiesBodyContainer #storiesHeroText {
    background: #23a3e4;
    color: #fffe;
    text-shadow: 0 0 5px #0003;

  }
  #storiesBodyContainer #storiesHeroText h3 {
    font-size: 1.8rem;
  }
  #storiesBodyContainer #storiesExample1 {
    background: #23a3e4;
    color: #fffe;
    text-shadow: 0 0 5px #0003;

  }
  #storiesBodyContainer #storiesExample1 h3 {
    font-size: 1.8rem;
  }
  #storiesBodyContainer #storiesExample2 {
    background: #f06363;
    color: #fff;
    text-shadow: 0 0 5px #0003;

  }
  #storiesBodyContainer #storiesExample2 h3 {
    font-size: 1.8rem;
  }
  #storiesBodyContainer #storiesExample3 {
    background: #333;
    color: #fffc;

  }
  #storiesBodyContainer #storiesExample3 h3 {
    font-size: 1.8rem;
  }
  #storiesBodyContainer #storiesContribute {
    background: #f6eb49;
    color: #333;
  }
  #storiesBodyContainer #storiesContribute h3 {
    font-size: 1.8rem;
  }

#servicesBodyContainer {
  grid-template-areas: "hero hero hero hero hero hero heroText heroText" "hero hero hero hero hero hero heroText heroText" "community community government government business business contribute contribute" "community community government government business business contribute contribute ";
}
  #servicesBodyContainer .grid-hero {
    grid-area: hero;
  }
  #servicesBodyContainer .grid-heroText {
    grid-area: heroText;
  }
  #servicesBodyContainer .grid-community {
    grid-area: community;
  }
  #servicesBodyContainer .grid-government {
    grid-area: government;
  }
  #servicesBodyContainer .grid-business {
    grid-area: business;
  }
  #servicesBodyContainer .grid-contribute {
    grid-area: contribute;
  }
  #servicesBodyContainer #servicesHero {
    background-image: url("https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    background-position: center;
    min-height: 250px;
    box-shadow: inset 0 0 5rem #111a;
    filter: grayscale(1);
  }
  #servicesBodyContainer #servicesHeroText {
    background: #f6eb49;
    color: #333;

  }
  #servicesBodyContainer #servicesHeroText h3 {
    font-size: 1.8rem;
  }
  #servicesBodyContainer #servicesGovernment {
    background: #f06363;
    color: #fffe;
    text-shadow: 0 0 5px #0003;

  }
  #servicesBodyContainer #servicesGovernment h3 {
    font-size: 1.8rem;
  }
  #servicesBodyContainer #servicesCommunity {
    background: #23a3e4;
    color: #fff;
    text-shadow: 0 0 5px #0003;

  }
  #servicesBodyContainer #servicesCommunity h3 {
    font-size: 1.8rem;
  }
  #servicesBodyContainer #servicesBusiness {
    background: #333;
    color: #fffc;

  }
  #servicesBodyContainer #servicesBusiness h3 {
    font-size: 1.8rem;
  }
  #servicesBodyContainer #servicesContribute {
    background: #23a3e4;
    color: #fffe;
    text-shadow: 0 0 5px #0003;
  }
  #servicesBodyContainer #servicesContribute h3 {
    font-size: 1.8rem;
  }

.footerContainer {
  min-height: 5rem;
  padding: 4rem 2rem 5rem 2rem;
  background-color: #111;
  color: #fffb;
  box-shadow: inset 0 -0.25rem 0 #f06363, inset 0 -0.5rem 0 #f6eb49, inset 0 -0.75rem 0 #23a3e4;
}
  .footerContainer div {
    margin: auto;
  }

@media (max-width: 800px) {
  .gridContainer {
    display: block;
  }
  .mainBodyContainer {
    min-height: 0;
  }
  #homeBodyContainer div, #homeBodyContainer a {
    padding: 2rem 20vw;
  }
  .headerItemContainer h1 {
    font-size: 1.20rem;
  }
  .headerContainer #menuTrigger {
    border: .25rem solid white;
    border-radius: .5rem;
    height: 2.5rem;
    width: 2.5rem;
    display: block;
  }
  .headerContainer #headerMenu {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 5rem;
    right: -2rem;
    padding: 1rem;
    background: #333;
    width: 90vw;
    max-width: 300px;
    box-shadow: 0 0 .5rem #111c;
    display: none;
  }
  .headerContainer #headerMenu li {
    font-size: 2rem;
    padding: 1rem;
  }
}

.showHeaderMenu {
  display: flex !important;
}
